
@model HIQTrainingSite.ViewModel.CertificationTypeViewModel

@{
    ViewBag.Title = HIQResources.titleCertificationType;
    ViewBag.Title = HIQResources.titleCourseTypeList;
    @section css
        {
        <link href="@Url.Content("~/layout/css/stylesformador.css")" rel="stylesheet" />
    }
}

<div class="mainblock">
    <div class="block-group">
        <div class="ttitle title">
            @HIQResources.titleDetail @HIQResources.titleCertificationType
        </div>
        
    </div>
    <div class="md-content">
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control inputForm", @readonly = "readonly" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control inputForm", @readonly = "readonly" } })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.ActionLink(HIQResources.buttonEdit, "Edit", new { id = Model.Id }, new { @class = "btn btn-default btn-sm btn-detail" })
                    @Html.ActionLink(HIQResources.buttonBack, "Index", null, new { @class = "btn btn-default btn-sm btn-edit" })
                </div>
            </div>
        </div>
    </div>
   </div>