@model HIQTrainingSite.ViewModel.UserListViewModel

@{
    ViewBag.Title = HIQResources.titleUsersList;

    <link href="@Url.Content("~/layout/css/styles.css")" rel="stylesheet" />
}


<div class="mainblock">
    <div class="block-group">
        <div class="ttitle title">
            @HIQResources.titleUsersList
        </div>
        @Html.ActionLink(HIQResources.buttonAdd, "Create", null, new { @class = "btn btn-lg btn-default md-trigger" })
    </div>



    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <table class="table">
        <tr>
            <th>
                @HIQResources.labelUserName
            </th>
            <th>
                @HIQResources.labelUserEmail
            </th>
            <th>
                @HIQResources.titleOperations
            </th>
        </tr>

        @foreach (var item in Model.UsersList)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink(HIQResources.buttonEdit, "Edit", new { id = item.Id }, new { @class = "btn btn-default btn-sm btn-edit" })
                    @Html.ActionLink(HIQResources.buttonDetail, "Details", new { id = item.Id }, new { @class = "btn btn-default btn-sm btn-detail" })
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-default btn-sm btn-remove" data-toggle="modal" data-target="#myModal" data-id="@item.Id">
                        @HIQResources.buttonDelete
                    </button>
                </td>
            </tr>
        }
    </table>
    @Html.Partial("_AlertMessage", Model.Alert)
    @Html.Partial("_ModalDelete")
</div>

        <div class="pagedList text-center">
            @Html.PagedListPager(Model.UsersList, page => Url.Action("Index", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
        </div>

       
      
  

    @section Scripts {
        <script type="text/javascript">
            $(function () {
                $('#myModal').on('show.bs.modal', function (event) {
                    var button = $(event.relatedTarget) // Button that triggered the modal
                    var id = button.attr('data-id') // Extract info from data-* attributes
                    $('#deleteForm').attr("action", "/user/Delete/" + id);
                })
            });
        </script>
    }
